.telaQuiz { padding-bottom: 80px; }
.cabecalhoQuiz { background-color: #4a4a4a; padding: 20px; text-align: center; }
.botaoVoltar { background: none; border: none; color: #a68b20; font-weight: bold; margin: 15px; font-size: 16px; cursor: pointer; }

.cartaoQuiz {
  background-color: #4d4d4d;
  margin: 0 15px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.avatarQuiz img {
  width: 120px; height: 120px;
  border-radius: 50%;
  border: 4px solid #000;
  background-color: #aadddd; /* Cor de fundo provisoria avatar */
}

.frasePersonagem { margin: 15px 0; font-style: italic; text-align: center; font-size: 14px;}

.areaPergunta {
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  color: #333;
}

.areaPergunta h3 { text-align: center; margin-bottom: 15px; font-size: 16px; background-color: #8c8c8c; color: white; padding: 10px; border-radius: 5px;}

.botaoOpcao {
  display: flex;
  width: 100%;
  background-color: #333;
  color: white;
  border: none;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.letraOpcao { background-color: #ccc; color: #333; padding: 10px 15px; font-weight: bold; }
.textoOpcao { padding: 10px; flex: 1; text-align: left; }
.botaoOpcao:hover { background-color: #555; }